/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22/07/2016, 03:05:09 PM
    Author     : BILLPAZ
*/
/* Sticky footer styles
-------------------------------------------------- */

body{
    background: url(../img/unsaac.jpg) no-repeat center fixed center center #333;
/*    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;*/
    background-size: cover;
}



